// Font Family
$roboto : 'Roboto', sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Font Sizes
$x-large: 48px;
$large: 45px;
$medium: 16px;
$small: 14px;
$x-small: 10px;
