// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E8EBE4;
$gray: #BEC1BB;

// Brand Color Scheme
$calipso-ccc: rgb(92, 168, 164);
$ambar-ccc: rgb(221,161,98);
$azul-ccc: rgb(40,91,145);


//Third Color Scheme
$dark-jungle: #1B1F21;
$outer-space: #444749;
$old-silver: #828485;